# Tuple
*The tuple() Function can use the tuple() constructor or function to create a tuple. It basically performs two functions as follows:

*Creating an empty tuple if we give no arguments.
*Creating a tuple with elements if we pass the arguments.

In [1]:
a= [1, 2, 3, 4, 5]
b = tuple(a)
print(b)

(1, 2, 3, 4, 5)

# Len
*The len() function is used to return the number of elements in a tuple.
*It takes a tuple as an argument and returns an integer value representing the length of the tuple.

In [3]:
fruit = ("apple", "orange", "mango", "kiwi", "grapes")
print(len(fruit))

5

# Max

*The max() function is used to return the maximum value in a tuple. It takes a tuple as an argument and returns the maximum value in the tuple.

In [4]:
number = (565, 86, 667, 598, 989)
print(max(number))

989

# Min
*The min() function is used to return the minimum value in a tuple. It takes a tuple as an argument and returns the minimum value in the tuple.

In [5]:
val1 = (5, 10, 15, 20, 25,)
print(min(val1))

5

# Sum
*The sum() function is used to return the sum of all elements in a tuple.
*It takes a tuple as an argument and returns the sum of all the elements in the tuple.

In [6]:
abc = (1, 20, 73, 84, 435)
print(sum(abc))

613

# Index
*Index() function it returns the index of the first occurrence of a specified element in a tuple.

In [7]:
fruits = ('apple', 'banana', 'orange', 'mango', 'banana')
index = fruits.index('orange')
print(index)

2

# Count
* count() function it returns the number of times a specified element appears in a tuple.

In [8]:
my_tuple = (1, 2, 3, 4, 3, 5, 3)
count = my_tuple.count(3)
print(count)

3

# Concatenation
*The 'CONCATENATION' are concatenate two tuples using the + operator.

In [9]:
val1 = (1, 2, 3,4,5,6,7,8,9)

val2 = (10,11,127,137,14,775,916,17,18,989,200)

concatenated_tuple = val1 + val2

print(concatenated_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 127, 137, 14, 775, 916, 17, 18, 989, 200)

# REPETITION
* The 'REPETITION' is repeat a tuple for a given number of times using the * operator.

In [11]:
tuple = (110, 548, 444, 877, 905)
tuple

(110, 548, 444, 877, 905)